
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{posts.titulo}}</h5>
        <hr>
        <p class="card-text">{{posts.conteudo}}</p>
        <a href="/category/{{cateroies.slug}}" class="btn btn-primary">Voltar</a>
    </div>
</div>